.App {
    text-align: center;
}

.App-gitkraken {
    height: 80vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-gitkraken {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-image: url('ko.jpeg');
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-repeat: repeat;
    width: 100%;
}

.rounded {
    background-color: #0a0909a1;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px ridge rgb(10, 16, 17);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}